*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Mono', cursive;
}
body {
  background-color: rgb(128, 128, 128);
}
:root{
  --gray: rgb(46, 45, 45);
}
#header{
  display: flex;
  padding: 0.2rem 0;
  justify-content: center;
  font-family: 'Titan One', cursive;
  background-color: var(--gray);
}
#header-links-container{

  width: 30%;
  display: flex;
  justify-content: space-around;
  
}
.header-links{
  border: 0.1rem solid wheat;
  color: white;
  border-radius: 10%;
  padding: 0 ;

}
.header-links:hover{
  cursor: pointer;
  padding: 0 1rem;
  color: black;
  background-color: gray;
  transition-duration : 500ms;
  transition-timing-function: ease-out;
}

#banner{
  background-image: linear-gradient(var(--gray), gray);
  text-align: center;
  color: white;
  padding: 3% 0;
}
#banner h1{
  font-size: 5rem;
}
#blog-link-container{
  width: 60%;
  height: 500px;
  margin: 3rem auto;
  
  display: grid;
  grid-template-columns: repeat(19, 1fr);
}
#blog-link-container ul {
  list-style-type: none;
  text-align: center;
  font-size: 2rem;
}
#blog-link-container li{
  padding: 2rem;
} 
#blog-link-container li:hover{
  border: 0.1rem solid wheat;
  cursor: pointer;
 
}
#tech-li-1{
  border-top: 0.1rem solid wheat;
  border-right: 0.1rem solid wheat;
}
#tech-li-2{
  border-top: 0.1rem solid wheat;
  border-left: 0.1rem solid wheat;
}
#tech-li-3{
  border-top: 0.1rem solid wheat;
  border-right: 0.1rem solid wheat;
  border-bottom: 0.1rem solid wheat;
}
#core-li-1{
  border-top: 0.1rem solid wheat;
  border-left: 0.1rem solid wheat;
}
#core-li-2{
  border-top: 0.1rem solid wheat;
  border-right: 0.1rem solid wheat;
}
#core-li-3{
  border-top: 0.1rem solid wheat;
  border-left: 0.1rem solid wheat;
  border-bottom: 0.1rem solid wheat;
}
#blog-link-container h3{
  font-size: 2rem;
  text-align: center;
}
#blog-core{
  grid-column: 1 / span 6;
  /*background-image: linear-gradient(gray, var(--gray));*/
  color: white;
  border-radius: 10%;
  
}
#blog-divider{
  grid-column: 10 ;
  border-right: 0.1rem solid wheat;
  border-left: 0.1rem solid wheat;
}
#blog-tech{
  grid-column: 14 / span 6;
  
  color: white;
  border-radius: 10%;
}